@font-face {
    font-family: 'advent_prolight';
    src: url('adventpro-light-webfont.eot');
    src: url('adventpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro-light-webfont.woff2') format('woff2'),
         url('adventpro-light-webfont.woff') format('woff'),
         url('adventpro-light-webfont.ttf') format('truetype'),
         url('adventpro-light-webfont.svg#advent_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2 /* Police défini sur les titres */
{
     font-family: 'advent_prolight';
}
.page
{
	width: 1190px;
	height:1684px;
	display: flex;
	margin: auto;
	border: 1px solid black;
}
p
{
	font-size: 18px;
}
/* Barre latérale */
.lateral
{
	width: 380px;
	background: rgb(41,182,246);
}
.photo
{

	border-radius: 500px;
	display: block;
	width: 200px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px black;
}
.titre
{
	background: rgb(38,50,56);
	text-align: center;
	color: rgb(41,182,246);
	font-size: 35px;
	height: 50px;
	margin: 0;
}
#contact
{
	padding-left: 40px;
}
#propos
{
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 500px;
}
.icone
{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.icone svg
{
	border: 1px solid black;
	padding: 10px;
	border-radius: 50%;
	font-size: 35px;

}



/* Contenu */

/* Identité */
#info
{
	padding: 40px;
	padding-top: 120px;
	padding-left: 70px;
}
#info h1
{
	font-size: 60px;
	margin: 1px;
}
.prenom
{
	color: rgba(41,182,246 ,1);
}

#info h2
{
	font-size: 25px;
	font-family: 'advent_prolight';
	margin: 1px;
}
.dev
{
	border-bottom: 1px solid rgb(41,182,246);
}

/*FORMATION*/
div li
{
	list-style: none;
	display: flex;
}
li
{
	display: flex;
	width: 100%;
}
.date
{
	width: 350px;
}
.valeur
{
	width: 400px;
}

.formation
{
	padding: 40px;
	height: 400px;
}

.experience
{
	padding: 40px;
	height: 550px;
}

.recommande
{
	padding: 40px;
	height: 200px;
}
.categorie
{
	font-size: 20px;	
}
.categorie svg
{
	color: rgb(41,182,246);
	padding-right: 20px;
}
.categorie h2
{
	border-bottom: 1px solid rgb(41,182,246);
}
.recommandation
{
	display: flex;
}
.avis
{
	width: 50%;
	padding-left: 40px;
}


/* Version mobile */
@media and screen (max-width: 1024px)
{
	body
	{
		width: auto;
	}
	section
	{
		flex-direction: column;
	}
}