@font-face {
    font-family: 'advent_prolight';
    src: url('adventpro-light-webfont.eot');
    src: url('adventpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro-light-webfont.woff2') format('woff2'),
         url('adventpro-light-webfont.woff') format('woff'),
         url('adventpro-light-webfont.ttf') format('truetype'),
         url('adventpro-light-webfont.svg#advent_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 /* Police défini sur les titres */
{
     font-family: 'advent_prolight';
}

.page
{
	width: 1190px;
	display: flex;
	margin: auto;
	border: 1px solid black;
	height:1684px;
}
p
{
	font-size: 20px;
}
/* Barre latérale */
.lateral
{
	width: 380px;
	background: rgba(41,182,246 ,1);
}
.photo
{

	border-radius: 500px;
	display: block;
	width: 230px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px black;
}
.titre
{
	background: rgba(38,50,56 ,1);
	text-align: center;
	color: rgba(41,182,246 ,1);
	font-size: 30px;
	height: 50px;
	padding: auto;
}
.icone
{
	display: flex;
}
#contact
{
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 50px;
}
#about
{
	text-align: justify;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 300px;
}

/* Contenu */
div li
{
	list-style: none;
	display: flex;
}
li p
{
	width: 300px;
}
#info
{
	padding: 40px;
}
#info h1
{
	font-size: 60px;
}
.prenom
{
	color: rgba(41,182,246 ,1);
}

.info, h2
{
	font-size: 35px;
	font-family: 'advent_prolight';
}

.formation
{
	padding: 40px;
}

.experience
{
	padding: 40px;
}

.recos
{
	padding: 40px;
}
